<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>guardarUsuario</servlet-name>
        <servlet-class>Servlets.guardarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUsuario1</servlet-name>
        <servlet-class>Servlets.actualizarUsuario1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarUsuario</servlet-name>
        <servlet-class>Servlets.borrarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>guardarUsuario</servlet-name>
        <url-pattern>/guardarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUsuario1</servlet-name>
        <url-pattern>/actualizarUsuario1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarUsuario</servlet-name>
        <url-pattern>/borrarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
